@model Timeline.UI.Web.Models.Timeline.Appointment

@{
    var sel = new SelectListItem[]
    {
        new SelectListItem() { Selected=Model.Category == mko.Timeline.AppointmentCategory.business, Text="geschäftlich", Value=mko.Timeline.AppointmentCategory.business.ToString() },
        new SelectListItem() { Selected=Model.Category == mko.Timeline.AppointmentCategory.@private, Text="privat", Value=mko.Timeline.AppointmentCategory.@private.ToString() },
    };
}

<article itemscope itemtype="http://schema.org/Event" class="Appointment">
    <section itemprop="startDate">
        <h1>Start</h1>
        <div class="input-group">
            <span class="input-group-addon">D</span>
            @Html.EditorFor(m => m.BeginDate)
        </div>
        <div class="input-group">
            <span class="input-group-addon">T</span>
            @Html.EditorFor(m => m.BeginTime)
        </div>
    </section>


    <section itemprop="about">
        <div class="input-group">
            <span class="input-group-addon">Kategorie</span>
            @Html.DropDownListFor(m => m.Category, sel, new { @class = "form-control" })
        </div>
        <div class="input-group">
            <span class="input-group-addon">Besitzer</span>
            @Html.EditorFor(m => m.Owner)
        </div>
        <div class="input-group">
            <span class="input-group-addon">Details</span>
            @Html.TextAreaFor(m => m.Details, new { @class = "form-control" })
        </div>
            
    </section>

    <section itemprop="endDate">
        <h1>Ende</h1>
        <div class="input-group">
            <span class="input-group-addon">D</span>
            @Html.EditorFor(m => m.EndDate)
        </div>
        <div class="input-group">
            <span class="input-group-addon">T</span>
            @Html.EditorFor(m => m.EndTime)
        </div>
    </section>

</article>


