@model mko.Timeline.Appointment

<article itemscope itemtype="http://schema.org/Event" class="Appointment">

    <section itemprop="startDate">
        <h1>Start</h1>
        @Html.DisplayFor(m => m.BeginTime)<br />
        @Html.DisplayFor(m => m.BeginDate)

    </section>

    @*<section itemprop="location">
        <h1>Ort</h1>
        @Html.DisplayFor(m => m.Location)
    </section>*@

    <section itemprop="about">
        <h1>Thema</h1>
        <dl>
            <dt>Kategorie</dt>
            <dd>
                @Html.DisplayFor(m => m.Category)
            </dd>

            <dt>Besitzer</dt>
            <dd>@Html.DisplayFor(m => m.Owner)</dd>

            <dt>Details</dt>
            <dd>
                @Html.DisplayFor(m => m.Details)
            </dd>
        </dl>
    </section>

    <section itemprop="endDate">
        <h1>Ende</h1>
        @Html.DisplayFor(m => m.EndTime)<br />
        @Html.DisplayFor(m => m.EndDate)
    </section>

    <section itemprop="ops">
        <a href="@Url.Action("Delete", new {Begin = mko.Timeline.Timeline.ToDateTime(Model.BeginDate, Model.BeginTime).ToString("s"), @End= mko.Timeline.Timeline.ToDateTime(Model.EndDate, Model.EndTime).ToString("s"), Owner = Model.Owner})" class="btn btn-danger">Del</a>
    </section>
</article>







